#body {
    font-family: "cochin", sans-serif;
    text-align: justify;
}

/* Header */
.firstbox {
    position: relative;
    color: white;
    border: 3px solid #000;
    padding: 40px;
    background-image: url('img/fondo_def.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.headertext {
    display: inline-block;
}

/* Main */
.secondbox {
    border: 3px solid #000;
    padding: 30px;
    border-radius: 10px;
    background-color: #e8f8f5;

}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

/* links */
a:visited {
    color: #566573;
}

a:hover {
    color: green;
}

/* lists */
.liststyle {
    list-style-type: none;
    display: inline-block;
}

.liststyleol {
    display: inline-block;
}

.plist {
    font-size: 0.75em;
}

/*Images*/
.profile-pic {
    background-image: url(img/foto_val_cvweb.JPEG);
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #82e0aa;
    background-size: cover;
    margin-left: 270px;
    background-position: center;

}

